@use "./partials/typography" as *;
@use "./partials/variables" as *;

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
}

h1 {
  @include textStyle("Avenir Next", $headerTextSize, $headerLine, $primary-c-b);
  font-weight: 600;
}

ul {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.logo-head {
  @include textStyle("Avenir Next", $headerTextSize, 0, $primary-c-w);
  font-weight: 400;
}

.logoMark {
  display: flex;
  justify-content: center;
}

.sub-header {
  @include textStyle("Avenir Next", 0.875rem, 0, $primary-c-b);
}

.nav-link:nth-of-type(1) {
  border-bottom: 0.1875rem solid white;
}

p {
  @include textStyle("Avenir Next", $pTextSize, $pLine, $primary-c-b);
}

.quote,
.quoter {
  @include textStyle("Avenir Next", $pTextSize, $pLine, $primary-c-b);
  font-weight: 600;
  margin: 0;
}

.quote {
  padding-bottom: 0.3rem;
}

.quoter {
  padding-bottom: 1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
  & a {
    font-size: $pTextSize;
    display: flex;
  }
}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  &:hover {
    border-bottom: 3px solid white;
    display: flex;
    a {
      font-weight: 700;
    }
  }
}

ul .nav-link {
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  a {
    padding: 0.625rem;
  }
  &:hover {
    border-bottom: 3px solid white;
    display: flex;
    font-family: "Avenir Next";
  }
}

section {
  padding: 0 1rem;
  & h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }
  img {
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
  }
}

.images {
  padding-bottom: 0;
}

header {
  padding: 0;
}

footer {
  background-color: $primary-c-b;
  padding: 0 1rem;
  padding-bottom: 1rem;
  & p,
  h2,
  h1 {
    color: $primary-c-w;
  }
  img {
    padding-right: 1.5rem;
  }
  p {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .footer-group {
    font-weight: 600;
  }
  .footer-header.first,
  .footer-header.second {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .footer-header.second {
    padding-top: 24px;
    padding-bottom: 1rem;
  }
}

.footer-socialText {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-socialIcons {
  padding-bottom: 0.8125rem;
}

nav {
  background-color: $primary-c-b;
  color: $primary-c-w;
  // width: 100%;
  display: flex;
  flex-direction: column;
  & a,
  h2 {
    color: $primary-c-w;
  }
}

.heroContainer {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
  max-height: 100%;
  display: flex;
  & .heroText {
    color: $primary-c-w;
    margin: 0;
  }
}

.heroTextCont {
  @include itemDirection(flex, 0, 0, 0);
  & .heroText {
    @include itemDirection(flex, 0, center, 0);
    padding-left: 1rem;
  }
}

small {
  color: white;
  font-size: 0.7rem;
}

.gallery {
  background-color: $secondary-c-a;
}

@media (max-width: 767px) {
  .footer-header.first {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer-header.first {
    display: flex;
    padding-top: 3rem;
    margin: 0;
    left: 80%;
    position: absolute;
  }
  .heroTextCont {
    padding-left: 2.25rem;
    padding-right: 0;
    & .heroText {
      font-size: $headerTextSizeDesk;
      line-height: $headerLineDesk;
      font-weight: 600;
      padding-left: 0;
    }
  }

  section {
    padding: 0 2.25rem;
    & h1 {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      margin: 0;
      font-size: $sectionHeaderSizeDesk;
      line-height: $sectionHeaderLineDesk;
      font-weight: 700;
    }
    & .sub-header {
      font-size: $subHeaderDesk;
      line-height: $subHeaderLineDesk;
      font-weight: 600;
    }
    & p {
      font-size: $pTextBodySize;
      line-height: $pTextBodyLine;
      font-weight: 400;
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.7rem;
      padding-bottom: 2.25rem;
      & img {
        display: flex;
        width: 30%;
        padding: 0;
      }
    }
    img {
      padding: 0;
    }
    .quote {
      @include quote(1.5rem, 600, 2rem, 1.5rem, 0.875rem, 0);
    }
    .quoter {
      padding-bottom: 2.25rem;
    }
  }

  header {
    padding: 0;
  }
  .logoMark {
    display: flex;
    padding: 16px 0;
    padding-right: 36px;
  }
  nav {
    display: flex;
    flex-direction: row;
    padding-left: 2.25rem;
    & .nav-link {
      padding: 16px 0;
      margin: 0 36px;
    }
  }
  .section-one {
    padding: 0 2.25rem;
  }
  .section-p {
    display: flex;

    & p {
      flex-direction: column;
    }
    & p:nth-of-type(1) {
      padding-right: 1.5rem;
    }
  }
  .heroContainer {
    height: 60vh;
    width: 100%;
    max-height: 100%;
  }
  footer {
    padding: 0 2.25rem;
    padding-bottom: 1rem;
    img {
      padding-right: 1.5rem;
      width: 1.75rem;
      height: 1.75rem;
    }
    p {
      padding-bottom: 1rem;
      margin-bottom: 0;
      font-size: $pTextFooterSize;
      line-height: $pTextFooterLine;
    }
    .footer-group {
      font-weight: 600;
    }
    .footer-main,
    .footer-main-outter,
    .footer-main-inner,
    .footer-brand {
      display: flex;
    }
    .footer-container-main {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.5rem;
    }
    .footer-main {
      flex-direction: column;
    }
    .footer-socialIcons {
      display: flex;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 16px;
    }

    .footer-socialText {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      margin-right: 2.75rem;
      font-size: 2.25rem;
      font-weight: 600;
    }

    .footer-header.second {
      display: none;
    }
  }
}

@media (min-width: 1280px) {
  .footer-header.second {
    display: none;
  }
  .footer-header.first {
    display: flex;
    padding-top: 3rem;
    margin: 0;
    left: 86%;
    position: absolute;
  }
  .heroTextCont {
    padding-left: 5rem;
    padding-right: 0;
    & .heroText {
      font-size: $headerTextSizeDesk;
      line-height: $headerLineDesk;
      font-weight: 600;
      padding-left: 0;
    }
  }

  section {
    padding: 0 5rem;
    & h1 {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      margin: 0;
      font-size: $sectionHeaderSizeDesk;
      line-height: $sectionHeaderLineDesk;
      font-weight: 700;
    }
    & .sub-header {
      font-size: $subHeaderDesk;
      line-height: $subHeaderLineDesk;
      font-weight: 600;
    }
    & p {
      font-size: $pTextBodySize;
      line-height: $pTextBodyLine;
      font-weight: 400;
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.7rem;
      padding-bottom: 2.25rem;
      & img {
        display: flex;
        width: 30%;
        padding: 0;
      }
    }
    .section-one img {
      padding: 0;
      max-height: 100%;
      width: 100%;
      height: 80vh;
    }
    .quote {
      @include quote(1.5rem, 600, 2rem, 1.5rem, 0.875rem, 23rem);
    }
    .quoter {
      padding-bottom: 2.25rem;
    }
  }

  header {
    padding: 0;
  }
  .logoMark {
    display: flex;
    padding: 1rem 0;
    padding-right: 2.25rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    & .nav-link {
      padding: 1rem 0;
      margin: 0 2.25rem;
    }
  }
  .section-one {
    padding: 0 5.25rem;
  }
  .section-p {
    display: flex;

    & p {
      flex-direction: column;
    }
    & p:nth-of-type(1) {
      padding-right: 1.5rem;
    }
  }
  .heroContainer {
    height: 60vh;
    width: 100%;
    max-height: 100%;
  }
  footer {
    padding: 0 5rem;
    padding-bottom: 1rem;
    img {
      margin-right: 1.5rem;
      width: 1.75rem;
      height: 1.75rem;
    }
    p {
      padding-bottom: 1rem;
      margin-bottom: 0;
      font-size: $pTextFooterSize;
      line-height: $pTextFooterLine;
    }
    .footer-group {
      font-weight: 600;
    }
    .footer-main,
    .footer-main-outter,
    .footer-main-inner,
    .footer-brand {
      display: flex;
    }
    .footer-container-main {
      display: flex;
      padding-bottom: 1.5rem;
    }
    .footer-main {
      flex-direction: column;
    }
    .footer-socialIcons {
      display: flex;
      align-items: center;
      padding: 1.5rem 0 1rem 0;
    }

    .footer-socialText {
      padding: 1.5rem 2rem 1rem 0;
      font-size: 2.25rem;
      font-weight: 600;
    }
    .footer-container {
      padding-right: 2.25rem;
    }
  }
}
